In [11]:
import pandas as pd
import geopandas as gpd
import movingpandas as mpd
import pickle

In [18]:
pandas = pd.read_csv('../sample/buffer.csv',parse_dates=['timestamp'])
# see `../sample/meta.csv"
projection = "+proj=longlat +datum=WGS84 +no_defs"
timezone = "+02:30"
pandas['timestamp_tz'] = pandas['timestamp'].apply(lambda x: x.tz_localize(timezone))

timestamps = pandas[["timestamp", "timestamp_tz"]]
timestamps.head()
pandas

,event.id,timestamp,location.long,location.lat,gps.satellite.count,ground.speed,heading,tag.voltage,gt.tx.count,coords.x1,...,taxon.canonical.name,timestamp.start,timestamp.end,number.of.events,number.of.deployments,sensor.type.ids,taxon.detail,animalName,heading.1,timestamp_tz
0,566120615,2013-08-08 06:47:31,48.761833,69.128117,6,1.80,1.39,4.18,NaN,48.761833,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 06:47:31+02:30
1,566120616,2013-08-08 07:49:34,48.775300,69.135267,6,4.51,1.35,4.21,NaN,48.775300,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 07:49:34+02:30
2,566120617,2013-08-08 08:20:35,48.758833,69.141817,5,8.43,1.78,4.22,NaN,48.758833,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 08:20:35+02:30
3,566120618,2013-08-08 16:07:34,48.749483,69.142800,4,0.30,1.45,4.17,NaN,48.749483,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 16:07:34+02:30
4,566120619,2013-08-08 17:09:22,48.733783,69.142700,8,0.61,2.09,4.14,NaN,48.733783,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 17:09:22+02:30
5,566120620,2013-08-08 17:40:20,48.721767,69.142650,6,0.00,1.52,4.12,NaN,48.721767,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-08 17:40:20+02:30
6,566120621,2013-08-09 01:24:51,48.722167,69.140367,4,2.70,2.98,4.01,NaN,48.722167,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-09 01:24:51+02:30
7,566120622,2013-08-09 02:26:44,48.721167,69.139700,4,0.00,1.26,3.97,NaN,48.721167,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-09 02:26:44+02:30
8,566120623,2013-08-09 02:57:33,48.723367,69.140617,6,1.83,0.97,4.00,NaN,48.723367,...,Anser albifrons,2013-08-08 06:47:31.000,2015-02-19 13:42:27.000,3265,1,gps,NaN,742_56853924,NaN,2013-08-09 02:57:33+02:30

In [19]:
movingpandas = mpd.TrajectoryCollection(
            pandas,
            traj_id_col='individual.id',
            crs=projection,
            t='timestamp_tz',  # use our converted timezone column
            x='location.long',
            y='location.lat'
        )
movingpandas

/Users/clemens/mambaforge/envs/link-r-python/lib/python3.9/site-packages/movingpandas/trajectory_collection.py:155: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for traj_id, values in df.groupby([traj_id_col]):

TrajectoryCollection with 1 trajectories

In [20]:
movingpandas.to
# Let's see how many individuals we have in the dataset:
# kudos: https://github.com/anitagraser/movingpandas-examples/blob/main/2-analysis-examples/bird-migration.ipynb
movingpandas["inidividual.id"].unique()

TypeError: 'TrajectoryCollection' object is not subscriptable

In [14]:
pickle.dump(movingpandas, open('./movingpandas.pickle', 'wb'))